<!-- <h1>About this project</h1> -->

<p>
pulseCLI is a stand-in-until-you-make-your UI component
that can help you get your project up and running, 
without having to settle on an information architecture.
</p>

<p>
It is based on a system of panels, into which cards 
that contain UI components can be instantiated. 
Cards can be dragged and dropped between panels. 
Each panel also has its own command line which can parse commands with arguments.
</p>




Goals for this project are:

<ul>
    <li>code coverage</li>
    <li>aesthetics</li>
    <li>usability as a UI</li>
    <li>usability as an API</li>
</ul>

